*{
    border-radius: 10px;
}

.boss {
    width: 100%;
    height: 500px;
    border: 5px solid green;
    position: relative;
}

.first_block{
    width: 300px;
    height: 300px;
    border: 5px solid red;
    background-color: aquamarine;
    position: absolute;
    left: 30px;
    top: 50px;
    display: flex;
    align-items: center;
}

.second_block{
    width: 100px;
    height: 100px;
    border: 5px solid orange;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    background-color: aqua;
}

.third_block{
    width: 300px;
    height: 250px;
    border: 5px solid blue;
    position: absolute;
    right: 50px;
    bottom: 20px;
    display: flex;
    align-items: center;    
}

.fourth_block{
    width: 200px;
    height: 50px;
    border: 5px solid yellow;
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    align-items: center;
}

p{
    width: 50%;
    margin: 0 25% 0 25%;
    text-align: center;
}

.main_text{
    text-align:left;
    margin: 0;
    position: absolute;
    left: 40px;
    top: 25px;
}

.fifth_block{
    border: 5px solid red;
    width: 25%;
    height: 40%;
    position: absolute;
    left: 35%;
    top: 28%;
    display: flex;
    align-items: center
}

.sixth_block{
    border: 5px solid purple;
    width: 25%;
    height: 50%;
    position: absolute;
    right: 5%;
    top: 5%;
    display: flex;
    align-items: center;
}
